<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
        <img class="img-fluid" src="../../assets/images/logo.svg" alt="">
        <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/dashboard/default" ><i class="fa fa-home" aria-hidden="true"></i>Dashboard</a>
          <a class="nav-link" routerLink="/questions/defaults"><i class="fa fa-desktop" aria-hidden="true"></i>Questions</a>
          <a class="nav-link" ><i class="fa fa-desktop" aria-hidden="true"></i>Tests</a>
          <a class="nav-link" ><i class="fa fa-flag" aria-hidden="true"></i>Reports</a>
          <a class="nav-link"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a>
        </div>
      </div>
      <i class="fa fa-user-circle-o text-light fa-2x" aria-hidden="true"></i>
    </div>
    
  </nav>
