<div class="container bg-light py-5 ">
    <div class="card-body">
      <h5 class="dislpay-5 fw-bold">Welcome to Angular quiz app !!</h5>
        <p>This quiz contains total 10 questions.</p>

        <div class="name col-md-4 my-3">
            <label for="">Enter your name:</label><br><br>
            <input #name type="text" class="form-control"><br>
            <br>
            <button class="btn btn-primary btn-lg" routerLink="/questionpage" (click)="startQuiz()">START QUIZ</button> 
        </div>
    </div>
  </div>
