<nav class="navbar navbar-expand-lg navbar-dark bg-light">
    
    <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Mobile_Apps_Development_Company_Logo_-_Codeexceptional.png/1024px-Mobile_Apps_Development_Company_Logo_-_Codeexceptional.png" alt="">
    <div class="container-fluid">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  </div>
  <i class="fa fa-bell-o text-dark fa-lg" aria-hidden="true"></i>
  <i class="fa fa-user-circle-o text-dark fa-2x" aria-hidden="true"></i>
</div>

</nav>
