.navbar-brand{
    margin-left: 20px;
}
.img-fluid{
    height: 60px;
}
a{
    padding:10px;

}
i{
    padding: 15px;
}
.formsel{
    width:35px;
    border-radius: 50%;
}
.fade{
    margin-top: 60px;
    
}
.logout,.password,.settings,.Profile{
    border: none;
}
.modal-content{
    width:250px;
    margin-left: 30%;
}
