<nav class="navbar">
    <div class="container-fluid">
      <span class="navbar-brand">
        <img [src]="imgsrc" alt="logo" height="50px">
        
         Task Board
        
      </span>
      <div id="search" class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fa fa-search"(click)="searchByName()"></i>
        </span>
      </div>
        
     
           
        
        <button id="add" class="btn btn-primary" routerLink='/note-page'>Add Task</button>

    </div>
  </nav>
